header{
    background: #000000;
    color:#fff;
}
header nav{
   width: 700px;
    margin: 0 auto;
    display: flex;
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block
}
nav ul li a{
    display: block;
    padding: 6px 12px;
    color:#fff;
}

.container{
    width: 700px;
    margin: 15px auto;
    display: flex;
}
.sidebar{
    width: 300px;
}
.sidebar h3{
    margin: 0;

}
